name: Testes unitários
on:
  pull_request:
  push:
    branches:
      - 'main'
    branches:
      - 'FoodMinder/**'
	
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup - Projeto
        uses: actions/checkout@v3

      - name: Setup - JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Execução do teste unitário
        run: |
			cd FoodMinder
			mvn clean test
